classes:
  - service.docker.host
parameters:
  docker:
    host:
      pkgs:
        - docker-ce
        - python-docker
      experimental: true
      insecure_registries:
        - ${_param:cluster_vip_address}:5000
        - ${_param:cluster_public_host}:5000
      options:
        ipv6: true
        fixed-cidr-v6: fc00::/7
